@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Smooch+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dbdbdb;
    display: flex;
}


.titulo {
    color: #1C1C1C;
    font-family: Smooch Sans;
    font-size: 120px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-left: 160px;
    margin-bottom: 24px;
}

.text {
    color: #1C1C1C;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-top: -45px;
    margin-left: 160px;
    margin-bottom: 24px;
}



.username,
.password {
    width: 364px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #dbdbdb;
    border: 1px solid #b9b8b86c;
    display: flex;
    padding: 14px 40px;
    font-family: Poppins;
    margin: 24px 0px 24px 160px;
}

input::placeholder {
    color: #969494;
}

label {
    position: absolute;
    margin-left: 174px;
    margin-bottom: 26px;
    margin-top: 16px;
}


.botao {
    width: 364px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #1C1C1C;
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin-left: 160px;
    margin-bottom: 24px;
    transition: .6s;
}

.botao:hover {
    transform: scale(1.03);
    transition: .6s;
}

.text-2 {
    font-family: Poppins;
    display: flex;
    margin-bottom: 24px;
    justify-content: center;
    margin-left: 160px;
    margin-bottom: 24px;
}

.botao-google,
.botao-facebook {
    width: 364px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 13px;
    border: 1px solid #621498;
    color: #1C1C1C;
    background-color: #dbdbdb;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 160px;
    margin-bottom: 24px;
    transition: 0.2s;
}

.botao-google:hover {
    border: 1px solid #621498;
    color: #621498;
    box-shadow: 0px 0px 6px #621498, 0px 0px 2px #621498 inset;
    transition: 0.2s;
}

.botao-facebook:hover {
    border: 1px solid #621498;
    color: #621498;
    box-shadow: 0px 0px 10px #621498, 0px 0px 2px #621498 inset;
    transition: 0.2s;
}

.img-logo-google,
.img-logo-facebook {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin: 8px;
}

.imagem-mk {
    width: 1250px;
    height: 700px;
    margin-top: 90px;
    margin-left: 100px;
    margin-bottom: 24px;
    border-radius: 40px;
    transition: .7s; 
}

.imagem-mk:hover {
    transform: scale(1.01);
    transition: .6s;
}

.redes-sociais {
    align-items: center;
    position: absolute;
    margin-top: 40vw;
    margin-left: 10vw;
}

.titulo-redes {
    font-family: Smooch Sans;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.me-siga {
    font-family: Poppins;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

.links-redes {
    text-decoration: none;
    color: #621498;
    font-family: Poppins;
    font-size: 18px;
    padding: 10px;
    position: relative;
}

.links-redes::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #621498;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.links-redes:hover::after {
    width: 100%;
}